<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-brand">Activities Center</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <p class="nav-item" href="#">Welcome, NAME <span class="sr-only">(current)</span></p>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div> -->
</nav>

<div class="col-7" style="display: inline-block; vertical-align: top;">
    <partial name="_Register" view-data="ViewData">
</div>

<div class="col-1" style="display: inline-block; vertical-align: top;">
</div>

<div class="col-3" style="display: inline-block; vertical-align: top;">
    <partial name="_Login">
</div>
